body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
